.row
  .col-xs-12
    img.img-responsive(
      '[src]'="(recipeState | async).recipes[id].imagePath"
      alt="{{ (recipeState | async).recipes[id].name }}"
      style="max-height: 300px;"
    )
.row
  .col-xs-12
    h1 {{ (recipeState | async).recipes[id].name }}

.row
  .col-xs-12
    .btn-group(
      'appDropdown'
    )
      button.btn.btn-primary.dropdown-toggle(
        type="button"
      ) Manage Recipe
        span.caret

      ul.dropdown-menu
        li
          a('(click)'="onAddToShoppingList()" style="cursor: pointer;") To Shopping List
        li
          a(style="cursor: pointer;" '(click)'="onEditRecipe()") Edit Recipe
        li
          a(style="cursor: pointer;" '(click)'="onDeleteRecipe()") Delete Recipe
.row
  .col-xs-12 {{ (recipeState | async).recipes[id].description }}
.row
  .col-xs-12
    ul.list-group
      li.list-group-item(
        '*ngFor'="let ingredient of (recipeState | async).recipes[id].ingredients"
      ) {{ ingredient.name }} - {{ ingredient.amount }}

