header
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        a.navbar-brand('[routerLink]'="['/']") Recipe book

      .collapse.navbar-collapse
        ul.nav.navbar-nav
          li('routerLinkActive'='active')
            a('routerLink'='/recipes') Recipes
          li('routerLinkActive'='active')
            a('routerLink'='/shopping-list') Shopping List
        ul.nav.navbar-nav.navbar-right
          ng-template('[ngIf]'="!(authState | async).authenticated")
            li
              a('routerLink'="/signup") Register
            li
              a('routerLink'="/signin") Login
          li
            a(
              style="cursor: pointer;"
              '(click)'="onLogout()"
              '*ngIf'="(authState | async).authenticated") Logout

          li.dropdown('appDropdown' '*ngIf'="(authState | async).authenticated")
            a.dropdown-toggle(style="cursor: pointer;" role="button") Manage
              span.caret
            ul.dropdown-menu
              li
                a(style="cursor: pointer;" '(click)'="onSaveData()") Save Data
              li
                a(style="cursor: pointer;" '(click)'="onFetchData()") Fetch Data
