<!-- <label>{{ serverName }}</label> -->
<!-- <input
  type="text"
  class="form-control"
  (input)="onUpdateServerName($event)"> -->
<input
  type="text"
  class="form-control"
  [(ngModel)]="serverName"
  (input)="inputChanged($event)">
<button class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="onCreateServer()">Add server</button>
<!-- <p [innerText]="allowNewServer"></p> -->
<!-- <p>{{ serverCreationstatus }}</p> -->
<p *ngIf="serverCreated; else noServer">Server was created, server naame is {{ serverName }}</p>
<ng-template #noServer>
  <p>
    No server was created!
  </p>
</ng-template>
<app-server *ngFor="let server of servers"></app-server>
