<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit
      (newIngredient)="onAddNewIngredient($event)"
      [ingredientsArray]="ingredients"
      [valuesIngredient]="chooseIngredient"></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        *ngFor="let ingredient of ingredients"
        href="#"
        class="list-group-item"
        style="cursor: pointer;"
        (click)="onChooseIngredient($event)">
        {{ ingredient.name }} ({{ ingredient.amount }})
      </a>
    </ul>
  </div>
</div>
